<doctype html!>
<html>
    <head>
        <style>
            a{
                color: black;
            }
            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                
            }

            a:active {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1> PassportJS Google Login Demo </h1>
        <button><a href='/login'>Login</a></button>
    </body>
</html>